.tooltip-container {
  position: fixed;
  width: 400px;
  height: 600px;
  max-width: calc(100% - 4vw);
  max-height: calc(100% - 4vh);
  right: 2vw;
  top: 2vw;
  background: white;

  .close-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    content: '';
    z-index: 1;
  }
}
